.top-container{
     background-color: #E4F9F5;
   position: relative;
   padding-top: 100px;
   
}

div{
    font-family: 'Montserrat' sans-serif;
}



body{
    margin:0 ;
    text-align: center;
    background-color: rgb(235, 245, 242);
    font-family:'Merriweather', serif;
    color: #40514E;
    
    
}


h1{

    font-family: 'Sacramento', cursive,serif;
    font-size: 5.625rem;
    margin: 50px auto 0 auto ;
    color: #66BFBF
}

h2{
    color: #66BFBF;
    margin: 0 auto;
    font-family: 'Montserrat' sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat' sans-serif;
    color: #11999E;
}

hr{
    border: dotted rgb(226, 223, 228) 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.bottom-cloud{
    
   position:absolute;
   left: 1rem;
    bottom: 20rem; 
} 

.top-cloud{
    
    position:absolute;
    right: 0.5rem;
    top: 5rem;
}

.johnson-profile{
    width: 300px;
    height: 180px;
    shape-outside: circle(50%);
    clip-path: circle();
    position: relative;
    bottom: 1rem;
    
}

.skills1{
position: relative;
top: 20px;
height: 250px;
shape-outside: circle();
clip-path: circle(50%);
border: 20px;
margin: auto;




}
.skills2{
    position: relative;
    top:20px;
    height: 250px;
    widows: 300px;
    shape-outside: circle();
    clip-path: circle(50%);
    border: 20px;
    
    
  
}




.carpet{
    image-resolution: 50dpi snap;
    position: relative;
    left: 9.3rem;
    top: 11.4rem;
   
}

.d-d{
    position: relative;
    text-align: left;
    left: 5%;
    margin: 0;
    width: 600px;
}
    
.p-skills1{
    font-family: 'Montserrat' sans-serif;
    position: relative;
    text-align: left;
    left: 5%;
    width: 700px;
    line-height: 30px;
}
.my-skills{
    text-align: center;
}

.div.skills1{
    text-align: center;
    width: 500rem;
    height: 400rem;
    position: absolute;
}

.div-skills2{
    text-align: center;
}
.p-skills2{
    position: relative;
    text-align: left;
    left: 5%;
    width: 500px;
    line-height: 30px;
}

.web-app{
    position: relative;
    text-align: left;
    left: 5%;
    margin: 0;
    width: 600px;   
}

table{
    position: relative;
    text-align: center;
    left: 25%;
    
}

.tabble-1{
    position: relative;
    text-align: center;
    left: 43%;
}

.intro{
    width: 30%;
    margin: auto;
    line-height: 2;
}


.p{
    line-height: 2; 
}

.we-are{
    width: 40%;
    margin: 40px auto 60px;
}


.btn {
    
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat' sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn {
      
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }


  .last-div{
      background-color: #66BFBF;
      padding: 50px 0 20px;
    }

  .facebook{
      color: #11999E;
      font-family: 'Montserrat' sans-serif;
      position: relative;
      right: 50px;
      text-decoration: none;
   
  }
  .facebook:hover{
    color: #EAF6F6;
  }

  .instagram{
    color: #11999E;
    font-family: 'Montserrat' sans-serif;
    margin: 10ox 20px;
    position: relative;
    right: 50 px;
    text-decoration: none;
}

.instagram:hover{
    color: #EAF6F6;
}
.twitter{
    color: #11999E;
    font-family: 'Montserrat' sans-serif;
    margin: 10ox 20px;
    position: relative;
    left: 50px;
    text-decoration: none;
}

.twitter:hover{
    color: #EAF6F6;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

section {
    background-repeat: no-repeat;
        }